comment "RTD129x Device Drivers"

menu "RTD129x Device Drivers"

config RTK_SB2_MEM_TRASH_MONITOR
	bool "Memory trash monitor"
	default n
	help
	  Enable helper functions for memory trash detection. If unsure, say N.

config RTK_RBUS_BARRIER
	bool "R-bus barrier"
	depends on RTK_MEM_REMAP
	default y
	help
	  Enable helper functions for R-bus barrier. If unsure, say N.

config RTK_MEM_REMAP
	bool "Memory remap"
	default y
	help
	  Enable helper functions for static ioremap. If unsure, say N.

#Add your device driver config in here.
config RTK_MCP
	bool "MCP driver"
	default n
	help
	  Realtek MCP driver

config RTK_FAN
	bool "RTK Fan driver"
	default n
	help
	  Realtek Fan driver

source "drivers/soc/realtek/rtd129x/rtk_ve/Kconfig"
source "drivers/soc/realtek/rtd129x/irda/Kconfig"
source "drivers/soc/realtek/rtd129x/rpc/Kconfig"
source "drivers/soc/realtek/rtd129x/hw_nat/Kconfig"
          
endmenu #RTD129x Device Drivers


